<h3>List of Invoices</h3>
<button class="btn btn-primary" routerLink="/add-invoice">New Invoice</button>
<!-- <table class="table table-striped">
  <thead>
  <tr><th scope="col">Invoice #</th><th scope="col">Client</th><th scope="col">Billing Date</th><th scope="col">Payment Date</th><th scope="col">total</th></tr>
</thead>
  <tr *ngFor='let invoice of invoices'>
    <td>{{invoice.invoiceNumber}}</td>
    <td>{{invoice.client.name}}</td>
    <td>{{invoice.billingDate | date: 'dd-mm-yyyy'}}</td>
    <td>{{invoice.paymentDate | date: 'dd-mm-yyyy'}}</td>
    <td>{{invoice.total}}</td>
    <td><Button class="btn btn-primary">Get Invoice</Button></td>
    <td><Button class="btn btn-danger">Delete Invoice</Button></td>
  </tr>
</table> -->

<div class="card-container">
  <div
    *ngFor="let invoice of invoices"
    class="card border-dark mb-3 bg-light mb-3"
    style="width: 18rem; float: left"
  >
    <div class="card-body">
      <h5 class="card-title">{{ invoice.client.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ invoice.invoiceNumber }}</h6>
      <p class="card-text">
        <small class="text-muted">{{
          invoice.billingDate | date: "dd-mm-yyyy"
        }}</small>
      </p>
      <button
        [routerLink]="['/edit-invoice', invoice._id]"
        class="btn btn-success"
      >
        Get Invoice
      </button>
      <ng-template #modal let-modal>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete this invoice?</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteInvoice()"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-success"
                (click)="modal.dismiss()"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </ng-template>

      <button class="btn btn-danger" (click)="showModal(modal, invoice)">
        Delete Invoice
      </button>
    </div>
  </div>
</div>
